language: python

python:
  - 2.7

services: postgresql

env:
  - DJANGO=1.4.1

install:
 - pip install -r requirements.txt
 - pip install coverage
 
before_script:
 - psql -c "CREATE DATABASE travisci;" -U postgres
 - python manage.py migrate
 - python manage.py runserver &

script:
 -  coverage run manage.py test
 -  python functional_tests/fccomida_test.py
 -  sleep 6

after_script:
 - pip install -q coveralls
 - coveralls

email:
    recipients:
    - el_moi@ciencias.unam.mx
    on_success: always
    on_failure: always
