language: python

python:
  - 2.7

services: postgresql

install:
 - pip install -r requirements.txt
 - pip install coverage
 - pip install -q coveralls
 
before_script:
 - "export DISPLAY=:99.0" #xvfb para pruebas con GUI
 - "sh -e /etc/init.d/xvfb start"
 - sleep 3 # give xvfb some time to start
 - psql -c "CREATE DATABASE travisci;" -U postgres #config puesta en settings
 - python manage.py migrate
 - python manage.py runserver &

script:
 -  coverage run manage.py test
 -  python functional_tests/fccomida_test.py
# por qué odias mis pruebas señor?

after_script:
 - coveralls

email:
    recipients:
    - el_moi@ciencias.unam.mx
    on_success: always
    on_failure: always
