{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'templates/js/muestra_mapa.js' %}"></script>
<script src="{% static 'templates/js/vendor/jquery.rating.js' %}"></script>
<link rel="stylesheet" href="{% static 'templates/css/jquery.rating.css' %}">

<article>
    <h1> {{ comercio.nombre }} </h1>
    <p> Publicado por <strong>{{ comercio.user }}</strong> el {{ comercio.fecha }}</p>
    <p>{{ comercio.descripcion }}</p>
    <img src="../../static/{{ comercio.foto }}" width="540" height="400"/>
    {% if comercio.comedor %}
    	<p>Este comercio cuenta con un comedor</p>
    	{% else %}
    		<p>Este comercio no cuenta con un comedor</p>
    {% endif %}
    <p>Calificación : {{comercio.calificacion }}
    <input id="estrella_1" type="radio" name="rating" value="1" class="star" disabled="disabled"/> 
    <input id="estrella_2" type="radio" name="rating" value="2" class="star" disabled="disabled"/> 
    <input id="estrella_3" type="radio" name="rating" value="3" class="star" disabled="disabled"/>
    <input id="estrella_4" type="radio" name="rating" value="4" class="star" disabled="disabled"/> 
    <input id="estrella_5" type="radio" name="rating" value="5" class="star" disabled="disabled"/>
    </p>
    <p>Precios entre : {{ comercio.mayor_precio }} y {{ comercio.menor_precio }}</p>
    <p>{{ comercio.facultad }}</p>
    <p><strong>{{ comercio.nombre }} se ubica en : </strong></strong></p>    
    <div id="{{ comercio.id }}" class="mapa"></div>
   <script>
        var calif = {{comercio.calificacion }}
        var estrella = "estrella_".concat(calif);
        document.getElementById(estrella).checked = true;
   </script>
    <script>
        var lat = {{ comercio.latitud }}
        var lng = {{ comercio.longitud }}
        var id = {{ comercio.id }}
        var nombre= "{{ comercio.nombre }}"
        initialize(lat,lng,id,nombre)
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</article>
{% if user.is_authenticated %}
<form id="califica_form" class="" method="post" action="/califica/">
    <div class="form-title"><h3>Califica este comercio</h3></div>
    {% csrf_token %}
    <input type="hidden" name="comercioId" size="35" value="{{comercio.id}}"/>
    <input type="radio" name="rating" value="1" class="star"/> 
    <input type="radio" name="rating" value="2" class="star"/> 
    <input type="radio" name="rating" value="3" class="star"/>
    <input type="radio" name="rating" value="4" class="star"/> 
    <input type="radio" name="rating" value="5" class="star" />
    <button type="submit" class="btn btn-success" value="succes">Calificar</button>
</form> 
<article>
    <center>
        <form id="comentario_form" class="" method="post" action="/comentario/">
            <div class="form-title"><h3>Escribe tu comentario</h3></div>
            {% csrf_token %}
            <input type="hidden" name="comercioId" size="35" value="{{comercio.id}}"/>
            <br/>
            <br />
            <textarea name="comentario" class="expand" rows="2" cols="50" placeholder="Deja tu comentario"></textarea>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success" value="succes">Comentar</button>
        </form>
    </center>
</article>
{% endif %}
<br />
{% for comentario, perfil in comentarios%}
<section class="commentsection">
<div class='comenta'>
    {% ifnotequal perfil "" %}
    <img src="../../static/{{perfil}}"/>
    {% else %}
        <img src="../../static/profile_images/but.jpg" />
        {% endifnotequal %}
        <div class="contenido">
        <h5> {{ comentario.usuarioId }} <div class= "contenido" style="color:DimGray">{{ comentario.fecha|date:"d M, Y H:m" }}</div> : </h5>
        <p style="white-space: pre-wrap;">{{comentario.comentario}}</p>
    </div>
</div>
</section>
{% endfor %}
<script src="{% static 'templates/js/expande.js' %}"></script>
{% endblock %}