{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1>FCComida h1</h1>
      </div>
</div>
{% if Comercios %}
  {% for comercio in Comercios %}
  <div class="container">
    <!-- Mostramos los comercios -->
    <div class="row">
      <div class="col-md-4">
        <h2>{{ comercio.nombre }}</h2>
        <p>{{ comercio.descripcion }}</p>
        <p> {{comercio.foto}} </p>
        <img src="static/{{comercio.foto}}"/>
        <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
      </div>
    </div>
  </div>
{% endfor %}

{% else %}
    <div class="jumbotron">
      <div class="container">
        <img src="http://i.imgur.com/ilS9vWa.jpg">
        <p>Texto de relleno</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Texto boton &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Loco</h2>
          <p>¡Ladrones, ladrones,
malditos ladrones! Se reían de mí, algunos corrían a sus casas, asustados
por mi causa. Un joven se puso a gritar desde el tejado: “¡Es un
loco!”.<br>
Por vez primera el sol besó mi propia cara desnuda y mi alma fue inflamada por el amor al sol,
y ya nunca más quise mis máscaras. Y, como si estuviera en trance, grité: “¡Benditos, benditos
sean los ladrones que robaron mis máscaras!”. Así me convertí en un loco</p>
          <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>buen y mal dios</h2>
          <p>El buen Dios y el mal dios se encontraron en la cima de la montaña.
El buen Dios dijo, “Buenos días, hermano”:<br>
El mal dios no respondió.<br>
Y el buen Dios dijo, “Estás de mal humor hoy”.<br>
“Sí”, dijo el mal dios, “ya que últimamente he sido confundido contigo, llamado por tu nombre y
tratado como si fuera tú, y eso me desagrada”.<br>
Y el buen Dios dijo, “pero yo también he sido confundido contigo y llamado por tu nombre”.
El mal dios se marchó maldiciendo la estupidez humana
          <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Siete y yo</h2>
          <p>En la hora silenciosa de la noche, a medida que me quedo medio dormido, mis siete yo se sientan
juntos y así conversan entre susurros:<br>
Primer yo: Aquí, en este loco, he morado todos estos años, sin otro quehacer distinto de renovar su
pena de día y recrear su dolor de noche.”<br>
</p>
          <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
        </div>
      </div>
{% endif %}
{% endblock %}
