{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

    <body>
        <h1>Login</h1>
        <center>
        <form id="login_form" method="post" action="/login/" class="form-container">
            {% csrf_token %}
            
            <div class="form-title"><h2>Inicio de sesión en FCComida</h2></div>
            <label>Nombre de usuario:</label> 
            <input type="text" name="username" value="" size="35" />
            <br />
            <label>Contraseña:</label>
            <input type="password" name="password" value="" size="35" />
            <br />
            <br />
            <button type="submit" class="btn btn-success" value="succes">Ingresar</button>

        </form>
        </center>
    </body>
</html>
{% endblock %}