{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="{% static 'templates/js/val.js' %}"></script>
    <body>
<center>
        <h1>Login</h1>

        <form id="login_form" novalidate="novalidate" class="form-container" method="post" action="/login/">
	<div class="form-content form-title">
            {% csrf_token %}
            Nombre de usuario: <input type="text" name="username" value="" size="40" />
            <br/>
            Contraseña: <input type="password" name="password" value="" size="40" />
            <br/>
            <button type="submit" class="btn btn-success" value="succes">Ingresar</button>
	</div>
        </form>
</center>
    </body>
</html>
{% endblock %}
