{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="{% static 'templates/js/val.js' %}"></script>
    <h1>¿Olvidaste tu contraseña?</h1>
    {% if enviado %}
        <strong>Revisa tu correo y accede nuevamente</strong>
        <a href="/login/">Login.</a><br />
    {% else %}
    <center>
        <form id="recupera_pass_form" novalidate="novalidate" class="form-container" method="post" action="/recupera-password/"
        enctyoe="multipart/form-data" role="form">
			<div class="form-title"><h3>Recupera tu contraseña</h3></div>
            {% csrf_token %}
            <label>Correo electrónico: </label>
            <br />
            <input id='email' type="text" name="email" value="" size="35" />
            <br/>
            <br/>
            <button id="aceptar" type="submit" class="btn btn-success" value="success">Aceptar</button>    
        </form>
    </center>
    {% endif %}
{% endblock %}
