{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="{% static 'templates/js/val.js' %}"></script>
        <h1>Registro</h1>

        {% if registered %}
        <strong>Ya estás registrado</strong>
        <a href="/">Regresa a la página de inicio.</a><br />
        {% else %}
        <center>
            <form id="user_form" novalidate="novalidate" class="form-container" method="post" action="/register/" enctype="multipart/form-data" role="form">

                {% csrf_token %}

                <div class="form-title"><h2>Registrate aquí</h2></div><br />
                {{ user_form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ user_form.username.errors }}
                    <label for="{{ user_form.username.id_for_label }}" type="text" name="username">Nombre de usuario:</label><br>
                    {{ user_form.username }}
                </div>

                <div class="fieldWrapper">
                    {{ user_form.password.errors }}
                    <label for="{{ user_form.password.id_for_label }}" type="password" name="password">Contraseña:</label><br>
                    {{ user_form.password }}
                </div>
                <div class="fieldWrapper">
                    {{ user_form.password2.errors }}
                    <label for="{{ user_form.password2.id_for_label }}" type="password" name="password2">Confirmar contraseña:</label><br>
                    {{ user_form.password2 }}
                </div>
                <div class="fieldWrapper">
                    {{ user_form.email.errors }}
                    <label for="{{ user_form.email.id_for_label }}" type="text" name="email">Correo electrónico:</label><br>
                    {{ user_form.email }}
                </div>
                {{ profile_form.non_field_errors}}
                <div class="fileWrapper">
                    {{ profile_form.facultad.errors}}
                    <label for="{{ profile_form.facultad.id_for_label}}">Facultad:</label><br>
                    {{ profile_form.facultad }}
                </div>
                <div class="fileWrapper">
                    {{ profile_form.picture.errors}}
                    <label for="{{ profile_form.picture.id_for_label}}">Foto:</label><br>
                    {{ profile_form.picture }}<br>
                </div>
                <button id="registrar" type="submit" name="submit" value="Register" class="btn btn-success">Ingresar</button>

            </form>
        </center>
        {% endif %}
    </body>
{% endblock %}
